
div{
  column-rule: 4px;
  column-count: 1;
  width: 89%;
  border: 6px;
  padding: 30px;
  margin-left: 2%;
  margin-right: 0.5%;
}
h1 {
  text-transform: uppercase;
  color: #008080;
  padding: 10px;
  text-align: left;
  text-rendering: geometricPrecision;
  line-height: 36px;
  margin: 12px;
}
h2{
  text-rendering: geometricPrecision;
  color: #9400D3;
  padding: 10px;
  text-align: center;
  line-height: 10%;
}
h3 {
  text-rendering: optimizeLegibility;
  padding: 2px;
  text-align: left;
  text-transform: none;
  line-height: 1%;
  color: #000080;
}

#nav {
  background-color: #808000;
  overflow: auto;
  text-align:justify;
  min-width: 400px;
}

#nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}

j #nav li {
  margin-top: 1.6%;
  display: inline-block;
}



.para {
  font-family:fantasy;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #000000;
  margin-left: 1px;
}
.image {
  padding: 0 20px;
  float: right; margin: 0px 0px 20px 20px;
  width: 30%;
  object-fit: contain;
  margin-right: 0%;
}
figcaption{
  text-align:center;
  margin-left: 15%;
  float: left;
  caption-side: bottom;
  display: table-caption;
  font-weight: bold;
  font-family: fantasy;
}
.im{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 30%;
}
ol {
  font-size:100%;
  padding: 15px;
  margin-left: 60px;
  list-style-type: none;
  font-family: fantasy;
}
.img{
  width: 40%;
  object-fit: contain;
  margin-right: 50%;
  padding:10px;
}
ul{
  font-size:100%;
  padding: 15px;
  margin-left: 60px;
  font-family: fantasy;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
  margin-top: 1%;
  margin-bottom: 3%;
  resize: vertical
}

input[type=Send]:hover {
  background-color: olive;
}
input[type=Send] {
  background-color: grey;
  padding: 6px 10px;
  border: 0.99%;
  border-radius: 5px;
  cursor: pointer;
  max-width: 10%;
}
label {
    display:inline-grid;
    float: left;
    width: 20%;
}
.social
{
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 2%;
}
input,
.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display:inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  max-width: 30%;
}

input:hover,
.button:hover {
  opacity: 1;
}
.fb {
  background-color: #6495ED;
  color: white;
}

.twitter{
  background-color: #00008B;
  color: white;
}

.insta{
  background-color: #DA70D6;
  color: white;
}
.cl-25{
  float: left;
  width: 24.99%;
  margin-top: 0;
}
.cl-75{
  float:left;
  width: 74.99%;
  margin-top: 0;
}
.rw::after{
  content: "";
  display:inline-grid;
  clear: both;
  align-items:flex-start;
  padding:1%;
  margin-top: 3%;
}
@media only screen and (max-width: 500px){
  .cl-25, .cl-75, input[type=Send] {
   width: 100%;
   margin-top: 0;
 }
}
hr{
  border-top: 2px solid olive;}
