
div{
  column-gap: 40px;
  column-rule: 4px;
  column-count: 1;
  width: 89%;
  border: 6px;
  padding: 60px;
  margin-left: 2%;
  margin-right: 0.5%;
}
h1 {
  text-transform: uppercase;
  color: #008080;
  padding: 10px;
  text-align: center;
  text-rendering: geometricPrecision;
  line-height: 36px;
}
h2{
  text-rendering: geometricPrecision;
  color: #9400D3;
  padding: 10px;
  text-align: center;
  line-height: 10%;
}
h3 {
  text-rendering: optimizeLegibility;
  padding: 2px;
  text-align: left;
  text-transform: none;
  line-height: 1%;
  color: #000080;
}

#nav {
  background-color: #808000;
  overflow: auto;
  text-align:justify;
  min-width: 400px;
}

#nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}

j #nav li {
  margin-top: 1.6%;
  display: inline-block;
}



.para {
  font-family:fantasy;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #000000;
  margin-left: 1px;
}


.image {
  padding: 0 20px;
  float: right; margin: 0px 0px 20px 20px;
  width: 30%;
  object-fit: contain;
  margin-right: 0%;
}

@media only screen and (max-width: 600px){
  .image {
    width: 65%;
    margin: 10px 0;
  }
}
ol {
  font-size:75%;
  padding: 15px;
  margin-left: 60px;
}
ul{
  font-size:75%;
  padding: 15px;
  margin-left: 60px;
}
#contacts{
  border-radius: 10px;
  background-color: ;
  padding: 40px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:content-box;
  margin-top: 10px;
  margin-bottom: 30px;
  resize: vertical
}

input[type=Send]:hover {
  background-color: olive;
}
input[type=Send] {
  background-color: grey;
  padding: 6px 10px;
  border: 0.99%;
  border-radius: 5px;
  cursor: pointer;
}
label {
    display:inline-grid;
    float: left;
    width: 150px;
}
